3.创建名为user的表

In [ ]:
CREATE TABLE user (
id INT AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(255),
sex VARCHAR(10),
age INT,
phone VARCHAR(15)
);

In [ ]:
插入几条数据

In [ ]:
INSERT INTO user (name, sex, age, phone)
VALUES
('Joe', 'Male', 50, '123-456-7890'),
('Jane', 'Female', 25, '987-654-3210'),
('Sam', 'Male', 35, '555-123-4567');

4.查询user表中年龄在20~30范围的用户

In [ ]:
SELECT * FROM user
WHERE age BETWEEN 20 AND 30;

5.删除user表中名字含”张“的用户

In [ ]:
DELETE FROM user
WHERE name LIKE '%张%';

6.计算user表中所有用户的平均年龄

In [ ]:
SELECT AVG(age) as average_age FROM user;

7.查询user表中年龄在20~30的用户，名字包含”张“的用户，并按照年龄从大到小排序输出

In [ ]:
SELECT *FROM user
WHERE age BETWEEN 20 AND 30 AND name LIKE '%张%'
ORDER BY age DESC;

8.新建team表(id,teamName)和score表(id,teamid,userid,score).taemid为指向team表id的外键，userid为指向user表id的外键

In [ ]:
--创建team表
CREATE TABLE team (
id INT AUTO_INCREMENT PRIMARY KEY,
teamName VARCHAR(255) NOT NULL
);

In [ ]:
-- 创建 score 表
CREATE TABLE score (
id INT AUTO_INCREMENT PRIMARY KEY,
teamid INT,
userid INT,
score INT,
FOREIGN KEY (teamid) REFERENCES team(id),
FOREIGN KEY (userid) REFERENCES user(id)
);

9.查询teamName为"ECNU"的队伍中，年龄小于20的用户们

In [ ]:
SELECT user.* FROM user
JOIN score ON user.id = score.userid
JOIN team ON score.teamid = team.id
WHERE team.teamName = 'ECNU' AND user.age < 20;

10.计算teamName为”ECNU"的总分(score存在null值，null值默认为0)

In [ ]:
SELECT team.teamName, COALESCE(SUM(score.score), 0) AS totalScore FROM team
LEFT JOIN score ON team.id = score.teamid
WHERE team.teamName = 'ECNU'
GROUP BY team.teamName;